{% load static %}

<header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home:home' %}"><h2>Article Blog<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'home'%}active{% endif %}">
              <a class="nav-link" href="{% url 'home:home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li> 
            <li class="nav-item {% if request.resolver_match.url_name == 'all-articles' %}active{% endif %}">
              <a class="nav-link" href="{% url 'blog:all-articles' %}">All Articles</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'all-authors' %}active{% endif %}">
              <a class="nav-link" href="{% url 'blog:all-authors' %}">Authors</a>
            </li>

            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
            {% endif %}

            {% if request.user.is_authenticated %}
              
              <li class="nav-item {% if request.resolver_match.url_name == 'author-articles' and user.author.slug == request.resolver_match.kwargs.slug %}active{% endif %}">
                <a class="nav-link" href="{% url 'blog:author-articles' user.author.slug %}">My Articles</a>
              </li>

              {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Admin page</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:add-article' %}">Add Article</a>
              </li>

              <li class="nav-item">{{ user.author.nickname }}</li>
              <img width="40 px" height="40 px" class="rounded-circle shadow-4-strong" src="{{ user.author.image.url }}" alt="">
                <li class="nav-item">
                  <a href="{% url 'account:logout' %}" class="p-1 bg-danger text-white rounded">logout</a>
                </li>
                  <a href="{% url 'account:edit-user' user.author.slug %}" class="p-1 bg-warning text-white rounded">Edit Profile</a>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'account:login' %}" class="p-1 bg-success text-white rounded">login</a><span> /</span>
                <a href="{% url 'account:register' %}" class="p-1 bg-warning text-white rounded">register</a>
              </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>