{% extends "base.html" %}
{% load static %}
{% load social_share %}

{% block content %}
<div class="main-banner header-text">
    <div class="container-fluid">
      <div class="owl-banner owl-carousel">

        {% for article in articles %}
            <div class="item">
            <img height="400 px" src="{{ article.image.url }}" alt="">
            <div class="item-content">
                <div class="main-content">
                <div class="meta-category">
                    <span>{% for cat in article.category.all %}{{ cat }}{% if cat != article.category.last %}-{% endif %}{% endfor %}</span>
                </div>
                <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                <ul class="post-info">
                    <li><a href="#">{{ article.author }}</a></li>
                    <li><a href="#">last update: {{ article.updated }}</a></li>
                    <li><a href="#">{{ article.comments.count }} comments</a></li>
                </ul>
                </div>
            </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->

  <section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">

              <div class="col-lg-12">
                
                {% for article in recent_articles %}

                    <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="{{ article.image.url }}" alt="">
                  </div>
                  <div class="down-content">
                    <span>{% for cat in article.category.all %}{{ cat }}{% if cat != article.category.last %}-{% endif %}{% endfor %}</span>
                    <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                    <ul class="post-info">
                      <li><a href="#">{{ article.author }}</a></li>
                      <li><a href="#">last update: {{ article.updated }}</a></li>
                      <li><a href="#">{{ article.comments.count }} comments</a></li>
                    </ul>
                    <p>{{ article.body }}</p>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">
                          <ul class="post-tags">
                            <li><i class="fa fa-tags"></i></li>
                            <li>{% for cat in article.category.all %}<a href="{% url 'blog:category-list' cat.slug %}">{{ cat }}</a>{% if cat != article.category.last %},{% endif %}{% endfor %}</li>
                          </ul>
                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#">{% post_to_facebook object_or_url "Facebook" %}</a></li>
                            <li>,</li>
                            <li><a href="#">{% post_to_twitter "Check this article: {{object.title}}" object_or_url "Twitter" %}</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>

                {% endfor %}
              
              </div>

              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{% url 'blog:all-articles' %}">View All Posts</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          
          {% include "includes/sidebar.html" %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}