{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "images/bg-01.jpg" %}');">
			<div class="wrap-login100">

				<form class="login100-form validate-form", method="post", enctype="multipart/form-data">

                    {% csrf_token %}
					
                    <span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Register
					</span>

					<p>{{ form_user.errors }}</p>
					<p>{{ form_author.errors }}</p>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<p class="bg-primary text-white rounded" style="width: 5rem;">username:</p>{{ form_user.username }}
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<p class="bg-primary text-white rounded" style="width: 5rem;">password:</p>{{ form_user.password }}
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

                    <div class="wrap-input100 validate-input">
						<p class="bg-primary text-white rounded" style="width: 5rem;">First name:</p>{{ form_author.first_name }}
						<span class="focus-input100" data-placeholder="&#xF106;"></span>
					</div>

                    <div class="wrap-input100 validate-input">
						<p class="bg-primary text-white rounded" style="width: 5rem;">Last name:</p>{{ form_author.last_name }}
						<span class="focus-input100" data-placeholder="&#xF106;"></span>
					</div>

                    <div class="wrap-input100 validate-input">
						<p class="bg-primary text-white rounded" style="width: 3rem;">email:</p>{{ form_author.email }}
						<span class="focus-input100" data-placeholder="&#xF200;"></span>
					</div>

                    <div class="wrap-input100 validate-input">
						<p class="bg-primary text-white rounded" style="width: 7rem;">Phone number:</p>{{ form_author.phone_number }}
						<span class="focus-input100" data-placeholder="&#xF202;"></span>
					</div>

                    <div class="wrap-input100 validate-input">
						<p class="bg-primary text-white rounded" style="width: 3rem;">Image:</p>{{ form_author.image }}
						<span class="focus-input100" data-placeholder="&#xF140;"></span>
					</div>

                    <div class="wrap-input100 validate-input">
						<p class="bg-primary text-white rounded" style="width: 5rem;">Nickname:</p>{{ form_author.nickname }}
						<span class="focus-input100" data-placeholder="&#xF400;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

				</form>

			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>