{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h4>{{ txt1 }}</h4>
                  <h2>{{ txt2 }}</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Banner Ends Here -->
  
      <section class="blog-posts grid-system">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="all-blog-posts">
                <div class="row">

                    {% for article in page_obj %}
                        <div class="col-lg-6">
                            <div class="blog-post">
                            <div class="blog-thumb">
                                <img height="350 px" src="{{ article.image.url }}" alt="">
                            </div>
                            <div class="down-content">
                                <span>{% for cat in article.category.all %}{{ cat }}{% if cat != article.category.last %}-{% endif %}{% endfor %}</span>
                                <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                                <ul class="post-info">
                                <li><a href="{% url 'blog:author-articles' article.author.slug %}">{{ article.author }}</a></li>
                                <li><a>last update: {{ article.updated }}</a></li>
                                <li><a>{{ article.comments.count }} Comments</a></li>
                                {% if article.author == user.author %}
                                  <li><a href="{% url 'blog:edit-article' article.slug %}" class="p-1 bg-warning text-white rounded">Edit</a></li>
                                {% endif %}
                                </ul>
                                <p>{{ article.body }}</p>
                                <div class="post-options">
                                <div class="row">
                                    <div class="col-lg-12">
                                    <ul class="post-tags">
                                        <li><i class="fa fa-tags"></i></li>

                                        {% for cat in article.category.all %}
                                            <li><a href="{% url 'blog:category-list' cat.slug %}">{{ cat }}</a>{% if cat != article.category.last %},{% endif %}</li>
                                        {% endfor %}

                                    </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                  
                  {% if page_obj.has_other_pages %}
                    <div class="col-lg-12">
                      <ul class="page-numbers">

                        {% if page_obj.has_previous %}
                          <li><a href="?page=1">&laquo; first</a></li>
                          <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                          <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                        {% endif %}
                        
                        <li class="active">
                          <a href="#">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a>
                        </li>

                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                          <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                          <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                        {% endif %}

                      </ul>
                    </div>
                  {% endif %}

                </div>
              </div>
            </div>

            <div class="col-lg-4">
              {% include "includes/sidebar.html" %}
            </div>

          </div>
        </div>
      </section>
{% endblock %}