{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h4>{{ txt1 }}</h4>
                  <h2>{{ txt2 }}</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Banner Ends Here -->
  
      <section class="blog-posts grid-system">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="all-blog-posts">
                <div class="row">

                    {% for author in object_list %}
                        <div class="col-lg-6">
                            <div class="blog-post">
                            <div class="blog-thumb">
                                <img height="350 px" src="{{ author.image.url }}" alt="">
                            </div>
                                <div class="down-content">
                                    <a href="{% url 'blog:author-articles' author.slug %}"><h4>{{ author.nickname }}</h4></a>
                                    <ul class="post-info">
                                    <li><a>Name: {{ author.first_name }}{{ author.last_name }}</a></li>
                                    <li><a>Number of articles: {{ author.articles.all.count }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                  <div class="col-lg-12">
                    <ul class="page-numbers">
                      <li><a href="#">1</a></li>
                      <li class="active"><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              {% include "includes/sidebar.html" %}
            </div>

          </div>
        </div>
      </section>
{% endblock %}